@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">

    $(document).ready(() => {
        var connection = new signalR.HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Information).withAutomaticReconnect([1000, 1000, 1000, 1000]).withUrl("http://localhost:5110/MyHub").build();

        $("#conStatus").text(connection.connectionState);

        connection.start().then(() => {
            $("#conStatus").text(connection.connectionState);
        }).catch((err) => { console.log(err) });
        $("#conStatus").text(connection.connectionState);
        $("#btnNameSave").click(() => {
            connection.invoke("SendName", $("#txtName").val()).catch((err) => { console.log(err) });
        })

        connection.on("ReceiveName", (name) => {
            $("#namesList").append(`<li class="list-group-item">${name}</li>`)
        })
    })
</script>
}

<div class="row">
    <input class="form-control" type="text" id="txtName" />
    <hr />
    <button class="btn btn-primary" id="btnNameSave">Save Name</button>
    <div class="alert alert-info">
        Connection State:<p id="conStatus"></p>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList"></ul>
    </div>
</div>